.shopping-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    list-style: none;

    &__item {
        // width: 90%;
        cursor: pointer;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 3vw;
        // border: 1px solid $primary-black;

        &__toggle {
            display: flex;
            flex: 1;
            align-items: center;
            // border: 1px solid $primary-black;
        }

        &__text {
            margin-left: 10px;
            // margin-right: 50%;
            
        }

        &__text--picked {
            text-decoration: line-through;
        }

        &__delete {
            display: flex;
            align-items: center;
            margin-left: 10px;
        }
    }
}

.add-item {
    // max-width: 100vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;

    //material-ui overrides

    .MuiInput-root {
        width: 100%;
        margin-top: 5vh;
        font-size: 1.75rem;
    }

    //adjust the sizes of the input field
    .MuiFormControl-root {
        min-width: 100%;
    }
    .MuiIconButton-root:hover {
        background-color: transparent;
    }
    //material-ui overrides
    .MuiSvgIcon-root {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .grocery-list-container {
        // background-color: $primary-background;
        display: flex;
        flex-direction: column;
        margin-left: 7.5vw;
        margin-right: 7.5vw;
    }

    .add-item {
        align-self: center;
        min-width: 450px;
        margin-left: 10vw;
        margin-right: 10vw;
        // background-color: $nyanza;

        //material-ui overrides
        .MuiSvgIcon-root {
            font-size: 4rem;
        }

        .MuiInputAdornment-root {
            margin-bottom: 20px;
        }
    }

    // .shopping-list {
    
    //     background-color: $nyanza;

    //     &__item {
    //         background-color: $pink-lace;
    //     }
    // }

    //material-ui overrides
    .MuiSvgIcon-root {
        font-size: 2.5rem;
    }
}

