

$primary-background: #FDF4DC; //warm white
$secondary-background: #DCE5FD; //azureish white
$tertiary-background: #FEFBF1; //floral white

//analogous palette
$misty-rose: #FDE4DC;
$beige: #F6FDDC;

//split-complementary palette
$light-cyan: #DCF6FD;
$lavender: #E4DCFD;

//square palette
$pink-lace: #FDDCF6;
$nyanza: #DCFDE4;
$azureish-white: #DCE5FD;
$warm-white: #FDF4DC;


//other
$primary-text: #101820;
$primary-green: #378A00;
$primary-black: #020B23;
$primary-grey :#969696;
$apple-green: #8DB600;